/*
1. block요소(영역을 차지)
	- h1 ~ h6, p, div, header, footer, section, aside, article
	- 리스트요소: ul, ol, li, dl, dd, dt
2. inline 요소(글자취급)
	- a, span, i, em, b, strong, sub, sup ...
border: 두께 스타일(solid, dotted, dashed, double) 색상
*/

/* display: block */

/* MIT 라이센스는 상업적 사용 및 배포 가능 */

/* displat: inline인 태그는 width/height/margin-top/margin-bottom이 적용되지 않는다!
그래서 위의 네개 속성을 주기 위해서는 display: inline-block을 적용한다  

상속 가능한 속성 - 글씨 속성들
- text-align, font-size, font-weight, letter-spacing, line-height ...
*/

html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt {margin: 0; padding: 0; box-sizing: border-box; line-height: 1;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}

a:link, a:visited, a:hover, a:active {color: inherit; text-decoration: none;}

.clear::after {display: block; content: ""; clear: both;}
.w100 {width: 100%;}

img {vertical-align: middle;}
button {background-color: transparent; border: none;}
address {font-style: normal;}
input, select, textarea, button {font-size: inherit; box-sizing: border-box;}
input:focus, select:focus, textarea:focus {outline: none;}